{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class='container bg-white'>
    <form method="POST">
        <h3 align="center" class='text-info fw-bold'>Login</h3>
        <div class="form-group">
            <label for="email" class="lead">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="password" class="lead">Enter Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
        </div>

        <div class="mb-3 ms-3 form-group">
            <input type="checkbox" class="form-check-input" id="check">
            <label class="form-check-label" for="check">Check me out</label>
        </div>
        <br>

        <button type="submit" class="btn btn-primary lead">Login</button>
    </form>
</div>

{% endblock %}