{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class='container h-75 bg-white rounded position-relative border border-info border-1 shadow-lg mb-5'>
    <a href='/' target='_self'>
        <button class="position-absolute top-0 start-0 translate-middle badge rounded-pill px-2  text-white btn btn-info">Home</button>
    </a>
    <form method="POST" class='mx-auto justify-content-middle'>
        <h2 align="center" class='text-info fw-bold mb-5'>Login</h2>
        <div class="form-group">
            <label for="email" class="lead">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="password" class="lead">Enter Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
        </div>
        <br>

        <div class='text-center'>
            <button type="submit" class="btn btn-info lead">Login</button>
        </div>
    </form>
</div>

{% endblock %}